html {
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, Tahoma, sans-serif;
}

input[type="radio"] {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
}

input[type="radio"]:hover~label svg {
  fill: #FFE64B;
}

input[type="radio"]:checked~label svg {
  fill: #FF7000;
}

svg {
  width: 50px;
  height: 50px;
  fill: white;
  stroke: #C53C00;
}

.raiting {
  direction: rtl;
  display: inline-block;
}